<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:tools="http://schemas.android.com/tools"
   package="com.chessEver.app">
   <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
   <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
   <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
   <!-- Required by AppsFlyer for advertising ID on Android 13+ (API 33+) -->
   <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


   <!-- Gal: WRITE permission only for Android 10 and below (API <= 29) -->
   <!-- We only save screenshots, we don't read from gallery -->
   <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
   <!-- Force-remove read access permissions that plugins might contribute -->
   <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:node="remove" />
   <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:node="remove" />
   <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" tools:node="remove" />

   <application
       android:label="ChessEver"
       android:name=".ChessEverApplication"
       android:icon="@mipmap/ic_launcher"
		
       android:requestLegacyExternalStorage="true"
       android:enableOnBackInvokedCallback="true"
       android:networkSecurityConfig="@xml/network_security_config">
       <activity
           android:name=".MainActivity"
           android:exported="true"
           android:launchMode="singleTop"
           android:largeHeap="true"
           android:taskAffinity=""
           android:theme="@style/LaunchTheme"
           android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
           android:hardwareAccelerated="true"
           android:windowSoftInputMode="adjustResize">
           <!-- Specifies an Android theme to apply to this Activity as soon as
                the Android process has started. This theme is visible to the user
                while the Flutter UI initializes. After that, this theme continues
                to determine the Window background behind the Flutter UI. -->
           <meta-data
             android:name="io.flutter.embedding.android.NormalTheme"
             android:resource="@style/NormalTheme"
             />
           <!-- Disable Flutter's built-in deep link handler so app_links plugin handles all links -->
           <meta-data
             android:name="flutter_deeplinking_enabled"
             android:value="false" />
           <intent-filter>
               <action android:name="android.intent.action.MAIN"/>
               <category android:name="android.intent.category.LAUNCHER"/>
           </intent-filter>
           <!-- Deep link for Supabase OAuth callback (custom scheme) -->
           <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="com.chessever.app" />
           </intent-filter>
           <!-- Android App Links for HTTPS deep links (sharing, notifications) -->
           <!-- Catch-all: any path on chessever.com opens the app -->
           <intent-filter android:autoVerify="true">
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data
                   android:scheme="https"
                   android:host="chessever.com" />
           </intent-filter>
           <intent-filter android:autoVerify="true">
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data
                   android:scheme="https"
                   android:host="www.chessever.com" />
           </intent-filter>
           <!-- AppsFlyer OneLink branded and default domains. Intentionally
                NOT autoVerify: AppsFlyer doesn't host assetlinks.json for these
                subdomains, so verification would always fail. OneLink taps
                render the AppsFlyer landing page, which redirects into the app
                via the com.chessever.app:// scheme + AppsFlyer SDK. -->
           <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data
                   android:scheme="https"
                   android:host="get.chessever.com" />
           </intent-filter>
           <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data
                   android:scheme="https"
                   android:host="chessever.onelink.me" />
           </intent-filter>
           <!-- "Open with ChessEver" for .pgn files from the OS file picker,
                file managers, Drive, Dropbox, Gmail, etc. Gmail and some file
                managers use application/octet-stream for .pgn, so we match on
                both MIME type and file extension (via pathPattern). -->
           <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="content" />
               <data android:scheme="file" />
               <data android:mimeType="application/x-chess-pgn" />
               <data android:mimeType="application/vnd.chess-pgn" />
               <data android:mimeType="application/pgn" />
               <data android:mimeType="text/x-pgn" />
               <data android:mimeType="text/pgn" />
           </intent-filter>
           <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data android:scheme="content" />
               <data android:scheme="file" />
               <data android:host="*" />
               <data android:mimeType="*/*" />
               <data android:pathPattern=".*\\.pgn" />
               <data android:pathPattern=".*\\..*\\.pgn" />
               <data android:pathPattern=".*\\..*\\..*\\.pgn" />
               <data android:pathPattern=".*\\..*\\..*\\..*\\.pgn" />
           </intent-filter>
           <!-- Share-sheet receive for .pgn attachments. -->
           <intent-filter>
               <action android:name="android.intent.action.SEND" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="application/x-chess-pgn" />
               <data android:mimeType="application/vnd.chess-pgn" />
               <data android:mimeType="application/pgn" />
               <data android:mimeType="text/x-pgn" />
               <data android:mimeType="text/pgn" />
           </intent-filter>
           <intent-filter>
               <action android:name="android.intent.action.SEND_MULTIPLE" />
               <category android:name="android.intent.category.DEFAULT" />
               <data android:mimeType="application/x-chess-pgn" />
               <data android:mimeType="application/vnd.chess-pgn" />
               <data android:mimeType="application/pgn" />
               <data android:mimeType="text/x-pgn" />
               <data android:mimeType="text/pgn" />
           </intent-filter>
       </activity>
       <!-- Don't delete the meta-data below.
            This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
       <meta-data
           android:name="flutterEmbedding"
           android:value="2" />
      <meta-data
          android:name="com.onesignal.NotificationServiceExtension"
          android:value="com.chessEver.app.NotificationServiceExtension" />
     <!-- Custom small icon for OneSignal push notifications (status bar) -->
     <meta-data
          android:name="com.onesignal.NotificationDefaultSmallIcon"
          android:resource="@drawable/ic_notification" />
     <meta-data
          android:name="com.google.firebase.messaging.default_notification_icon"
          android:resource="@drawable/ic_notification" />
     <meta-data
          android:name="com.google.firebase.messaging.default_notification_color"
          android:resource="@color/notification_accent" />

      <!-- Receiver for live notification actions -->
      <receiver
          android:name=".NotificationActionReceiver"
          android:exported="false" />

     <!-- Boot receiver -->
       <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver"
           android:enabled="false"
           android:exported="false">
           <intent-filter>
               <action android:name="android.intent.action.BOOT_COMPLETED" />
               <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
               <action android:name="android.intent.action.QUICKBOOT_POWERON" />
               <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
       </receiver>

       <!-- Notification receiver -->
       <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
   </application>
   <!-- Required to query activities that can process text, see:
        https://developer.android.com/training/package-visibility and
        https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

        In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
   <queries>
       <intent>
           <action android:name="android.intent.action.PROCESS_TEXT"/>
           <data android:mimeType="text/plain"/>
       </intent>
       <!-- If your app checks for SMS support -->
       <intent>
           <action android:name="android.intent.action.VIEW" />
           <data android:scheme="sms" />
       </intent>
       <!-- If your app checks for call support -->
       <intent>
           <action android:name="android.intent.action.VIEW" />
           <data android:scheme="tel" />
       </intent>
       <!-- If your application checks for inAppBrowserView launch mode support -->
       <intent>
           <action android:name="android.support.customtabs.action.CustomTabsService" />
       </intent>
       <!-- Required for opening email apps -->
       <intent>
           <action android:name="android.intent.action.VIEW" />
           <data android:scheme="mailto" />
       </intent>
       <!-- Required for AppsFlyer install attribution -->
       <package android:name="com.android.vending" />
   </queries>
    <!-- Provide required visibility configuration for API level 30 and above -->
</manifest>
